/*==  Tiny Screen  ==*/
@media only screen and (min-width: 0) {
  /* ==========RADIO CARD============= */
  .card-radio-wrapper {
    max-width: 18rem;
    border: .2rem solid rgba(255, 255, 255, 0);
    border-radius: .6rem;
    transition: .2s ease all;
  }
  
  /* ==========Card & Content============= */
  .card-radio {
    display: block;
    position: relative;
    background-color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem 0.6rem 0 0;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }

  .card-radio__content {
    position: relative;
    overflow: hidden;
    height: fit-content;
    max-height: 10rem;
    padding: 1.2rem;
    padding-top: 0;
    transition: .5s ease all;

    /* ==========Truncated Content Fade============= */
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      background: linear-gradient(to bottom, transparent 10%, white 90%);
    }
  }

  .card-radio__content.card-radio__content--expanded {
    max-height: 25rem;

    &::after {
      content: none;
    }
  }

  .card-radio__icon {
    display: block;
    position: absolute;
      top: 1rem;
      right: 1rem;
    align-content: center;
    border-radius: 100%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: white;
    border: .15rem solid #303F9E;
  }

  .card-radio__icon-selected {
    display: block;
    opacity: 0%;
    width: 1em;
    height: 1rem;
    margin: auto;
    border-radius: 100%;
    background-color: #32A367;
    transition: .2s ease all;
  }

  .card-radio__heading {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .card-radio__description-wrapper {
    padding: 0 1.2rem;
  }

  .card-radio__feature-list {
    list-style: none;
    padding: 0;
  }

  /* ==========Selected / Active Radio Card============= */
  .card-radio-wrapper--selected {
    border: .2rem solid #32A367;

    .card-radio__icon {
      border: .15rem solid #32A367;
    }
    .card-radio__icon-selected {
      opacity: 100%;
    }
  }


  /* ==========Util============= */
  .card-radio input[type="radio"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

/*== Landscape Tablets / Small Desktop Browser Window ==*/
/* @media only screen and (min-width: 768px) {

} */